<%= form_for(cuepoint) do |f| %>

 <div class="form-group">
    <%= f.label :name, "Name" %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  
  <%= f.submit "登録", class: "btn btn-primary"%>
      
<% end %>